---
layout: default
---

<div class="home">

  <p>
  Kurssilla tutustutaan Javascriptilla tapahtuvaan moderniin websovelluskehitykseen. Pääpaino on React-kirjaston avulla toteutettavissa
  single page -sovelluksissa, ja niitä tukevissa Node.js:llä toteutetuissa REST-rajapinnoissa.
  </p>

  <p>
    Kurssi sisältää yhden luennon, kohtuullisen määrään pajaohjausta ja hirveän määrän itsenäistä koodaamista.
    Varaudu käyttämään aikaa noin 10-15 tuntia viikossa koko periodin ajan.
  </p>

  <p>
    Kurssin sisällöstä, esitiedoista ja suoritustavasta kerrotaan materiaalissa <a href='osa0'>osan 0</a> alussa, lue ne huolella.
  </p>

  <h1 class="page-heading">Ajankohtaista</h1>

  <ul>
    <li>Kurssilla on <strong>pajaa noin 8 tuntia viikossa</strong>. Ajat päätetään <a href='https://doodle.com/poll/8ib6tqv4ivs769pe'/a>tämän kyselyn</a> vastausten perusteella.
        Jos aiot käydä pajoissa, merkkaa kyselyyn itsellesi sopivia aikoja. Päivämääristä huolimatta kyse koko kurssista.
    </li>

    <li>Laitoksen koneille ja fuksiläppäreille on asennettu <em>node 8.9.4</em> ja <em>visual studio code</em>. Muuta et tarvitse. 
      <a href='asennusohjeita'>Asennusohjeita</a> muihin ympäristöihin
    <li>Kurssin <em>ainoa</em> luento ma 15.1. klo 16-18 <strong>salissa A111.</strong></li>
    <li>Kurssiin liittyvää keskustelua <a href='https://t.me/joinchat/EHqi4hBo27NTY1gNw6jTlw'>Telegramissa</a>, tule mukaan!</li>
    <ul>
      <li>Telegram on whatsappin/messengerin tyylinen ilmainen keskustelufoorumisovellus jota on mahollista käyttää selaimella, mobiililaitteilla
      ja windows/linux/osx-clienteillä. Elämme modernia aikakautta, joten irc ei ole kurssihenkilökunnan toimesta tuettu.</li>
      <li><strong>Huom:</strong> kaikki epäasialliset, halventavat ja jotain ihmisryhmää syrjivät kommentit kanavalla ovat kiellettyjä ja tälläisten
      kommenttien esittäjät poistetaan kanavalta</li>
    </ul>

  </ul>

  <!--

  <h1 class="page-heading">Kurssin suorittaminen</h1>

  <p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
  and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
  typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
  Lorem Ipsum passages, and more recently with des</p>


  <h1 class="page-heading">Posts</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
-->
</div>
